openapi: 3.0.1
info:
  title: Delilah Restó
  description: Documentación de la API REST de Delilah Restó.
  contact:
    email: delilahdev@gmail.com
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://delilah.resto.com.ar/
- url: http://delilah.resto.com.ar/
tags:
- name: usuario
  description: Operaciones de registro y login de los usuarios
- name: pedido
  description: Acceso a la informacion de los pedidos
- name: plato
  description: Información sobre los platos ofrecidos
- name: administrador
  description: Operaciones que puede realizar el administrador
paths:
  /platos:
    get:
      tags:
      - plato
      summary: Obtener todos los platos del menú
      description: Devuelve un listado con la información de la totalidad de los platos que Delilah Restó ofrece al público.
      operationId: obtenerPlatos
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListaPlatos'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
  /pedidos:
    post:
      tags:
      - pedido
      summary: Subir un pedido nuevo
      description: Se sube el pedido de un cliente con los plato/s requeridos y la información de la transacción
      operationId: subirPedido
      requestBody:
        description: Objeto con la información del pedido de un determinado cliente
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pedido'
        required: true
      responses:
        200:
          description: Operacion exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        400:
          description: Falta información en el pedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
      security:
      - bearerAuth: []
      x-codegen-request-body-name: body
  /pedidos/estado/{IdPedido}:
    get:
      tags:
      - pedido
      summary: Obtener el estado de un pedido
      description: El pedido puede estar confirmado, en preparación, en camino o entregado
      operationId: obtenerEstado
      parameters:
      - name: IdPedido
        in: path
        description: ID del pedido
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstadoPedido'
        400:
          description: ID inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Pedido no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
  /platos/favoritos/{IdCliente}:
    get:
      tags:
      - plato
      summary: Obtener platos favoritos de un usuario
      description: Devuelve una lista con los platos previamente pedidos por un determinado usuario
      operationId: obtenerPlatosFav
      parameters:
      - name: IdCliente
        in: path
        description: ID del cliente
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaPlatos'
        400:
          description: ID inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: El cliente no realizó pedidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
  /usuarios/registro:
    post:
      tags:
      - usuario
      summary: Crear un usuario nuevo
      description: Para poder registrarse, el usuario debe ingresar username, nombre completo, email, telefono, direccion y password.
      operationId: crearUsuario
      requestBody:
        description: Objeto nuevo usuario
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Usuario'
        required: true
      responses:
        200:
          description: Registro exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        409:
          description: El usuario ya se encuentra registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /usuarios/login:
    post:
      tags:
      - usuario
      summary: Loguear al usuario
      description: Una vez registrado, el usuario debe loguearse ingresando username o email y password. Si la operación es exitosa, le será devuelto un token de autorización para próximas operaciones.
      operationId: loginUsuario
      requestBody:
        description: Objeto con los datos del login del usuario
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogInExitoso'
        404:
          description: Los datos ingresados son incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /usuarios/{IdUsuario}:
    get:
      tags:
      - usuario
      summary: Obtener información de un usuario por su ID
      operationId: obtenerInfoUsuario
      parameters:
      - name: IdUsuario
        in: path
        description: ID del usuario buscado
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExitosoUsuario'
        404:
          description: Usuario no encontrado 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    put:
      tags:
      - usuario
      summary: Actualizar el estado de un usuario por su ID
      description: Permite la actualización del estado de un usuario entre activo o eliminado
      operationId: actualizarUsuario
      parameters:
      - name: IdUsuario
        in: path
        description: ID del usuario buscado
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Objeto con el estado del cliente
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstadoUsuario'
        required: true
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        400:
          description: ID inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Usuario no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      x-codegen-request-body-name: body
  /admin:
    get:
      tags:
      - administrador
      summary: Obtener información para el administrador
      description: Devuelve un array con toda la información de los pedidos realizados en el día por distintos clientes
      operationId: infoAdmin
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaAdmin'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
  /admin/plato:
    post:
        tags:
        - administrador
        summary: Subir nuevo plato
        description: Agrega un nuevo plato a la base de datos
        operationId: subirPlato
        requestBody:
          description: Objeto plato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plato'
          required: true
        responses:
          200:
            description: Operacion exitosa
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Exito'
          400:
            description: Falta información del plato
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          500:
            description: Error del servidor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Exito'
        security:
        - bearerAuth: []
        x-codegen-request-body-name: body
  /admin/plato/{IdPlato}:
    put:
      tags:
      - administrador
      summary: Actualizar un plato
      description: Actualiza el nombre, el precio y/o el estado de un plato existente del menú.
      operationId: actualizarPlato
      parameters:
      - name: IdPlato
        in: path
        description: ID del plato buscado
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Objeto plato
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plato'
        required: true
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        400:
          description: ID inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Plato no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      x-codegen-request-body-name: body
  /admin/pedido/estado/{IdPedido}:
    put:
      tags:
      - administrador
      summary: Actualiza el estado de un pedido
      description: Actualiza el pedido a nuevo, en preparación, en camino, entregado o cancelado.
      operationId: actualizarPedido
      parameters:
      - name: IdPedido
        in: path
        description: ID del pedido
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Objeto con el estado nuevo del pedido
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstadoPedido'
        required: true
      responses:
        200:
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        400:
          description: ID inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Pedido no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      x-codegen-request-body-name: body
components:
  securitySchemes:
    bearerAuth:            
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ListaAdmin:
      type: array
      items:
          $ref: "#/components/schemas/PedidoAdmin"
    PedidoAdmin:
      type: object
      properties:
        estado_pedido:
          type: string
          description: Estado del pedido
          enum:
          - nuevo
          - en preparación
          - en camino
          - entregado
          - cancelado
        fecha: 
          type: string
        id_pedido: 
          type: number
        descripcion:
          type: array
          items:
            $ref: '#/components/schemas/Cantidad'
        tipo_pago: 
          type: string
          description: Tipo de pago utilizado por el cliente
          enum:
          - efectivo
          - debito
          - credito
        total:
          type: number
        username:
          type: string
        nombre_completo:
          type: string
        email:
          type: string
        telefono:
          type: string
        direccion:
          type: string
    Login:
      type: object
      properties:
        username_o_email:
          type: string
          description: Username o email
        password:
          type: string
    Usuario:
      type: object
      properties:
        username:
          type: string
        nombre_completo:
          type: string
        email:
          type: string
        telefono:
          type: string
        direccion:
          type: string
        password:
          type: string
          format: password
    Cantidad:
      type: object
      properties:
        id_plato:
          type: integer
        cantidad:
          type: integer
    Pedido:
      type: object
      properties:
        id_usuario:
          type: integer
        descripcion:
          type: array
          items:
            $ref: '#/components/schemas/Cantidad'
        tipo_pago:
          type: string
          description: Tipos de pago disponbles
          enum:
          - efectivo
          - debito
          - credito
        total:
          type: number
    Plato:
      type: object
      properties:
        id_plato:
          type: integer
        nombre_plato:
          type: string
        precio:
          type: number
    GetListaPlatos:
      type: object
      properties:
        error:
          type: boolean
        codigo:
          type: number
        mensaje:
          type: string
        respuesta:
          $ref: '#/components/schemas/ListaPlatos'
    GetExitosoUsuario:
      type: object
      properties:
        nombre_completo:
          type: string
        direccion:
          type: string
    LogInExitoso:
      type: object
      properties:
        error:
          type: boolean
        codigo:
          type: number
        mensaje:
          type: string
        respuesta:
          $ref: '#/components/schemas/Respuesta'
    Respuesta:
      type: object
      properties:
        token:
          type: string
        administrador:
          type: boolean
        id_usuario:
          type: integer
    ListaPlatos:
      type: array
      items:
        $ref: '#/components/schemas/Plato'
    Error:
      type: object
      properties:
        error:
          type: string
    Exito:
      type: object
      properties:
        error:
          type: boolean
        codigo:
          type: number
        mensaje:
          type: string
    EstadoPedido:
      type: object
      properties:
        id_pedido:
          type: integer
        estado_pedido:
          type: string
          description: Estado del pedido
          enum:
          - confirmado
          - preparando
          - enviando
          - entregado
          - cancelado
    EstadoUsuario:
      type: object
      properties:
        estado_usuario:
          type: string
          description: Estado del cliente
          enum:
          - H
          - E
